@media only screen and (max-width: 1200px) {


ul a{

    text-decoration: none;
    color: white;
    font-size: 18px;
    
    
}




}


@media only screen and (max-width: 991px) {
    


.menu{
 
    width: 490px;

}

ul a li{
   
    margin-left:10px;
}
ul a{
    font-size: 13px;
}



}

@media only screen and (max-width: 768px) {
    


    .menu{
        width: 310px;
    
    }
   
    ul a li{
       
        margin-left:10px;
    }
    ul a{
        font-size: 12px;
    }
    .res{
        margin-left:-30px;
    }
    
    
    }
    @media only screen and (max-width: 550px) {
    
    
        
            .menu{
                width: 270px;
            
            }
          
            ul a li{
               
                margin-left:10px;
            }
            ul a{
                font-size: 10px;
            }
            .res{
                margin-left:-30px;
            }
            
            
            }